.home_start{
    width:100%;
    position: relative;
    font-weight: 400;
    height: 590px;
    box-sizing: border-box;
    
}
.intro span{
    font-size: 170px;
    /*color: #ecf9f4; */
    color: #bae9d9;
    

}
.intro p{
    padding-top: 20px;
    font-size: 160px;
    float:left;
    text-align: left;
    line-height: 1.2;
    
}

#me{
    height: 550px;
    border-radius: 50%;
}
.home_start #cvButton{
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: left;
}
